$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.nav-bar {
  border-bottom: $boxShadowColor;
  background-color: $cardColor;
}

.logout-btn {
  float: right;
}
