$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.description-dialog {
  background-color: $cardColor;
  margin-top: 0px;
  box-shadow: none;
}

.description-dialog-title {
  color: $textColor;
}

.description-dialog-content {
  color: $textColor;
}

::ng-deep .description-custom > mat-dialog-container {
  background-color: $cardColor;
}

.description-close-button.mat-stroked-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
}
