<app-navbar></app-navbar>
<div class="user-profile-page">
  <!-- User profile -->
  <mat-card class="user-profile-card">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Profile Information</mat-card-title>
    </mat-card-header>

    <!-- View personal details -->
    <mat-card-content class="user-profile-card-content">
      <p><b>Username:</b> {{user.Username}}</p>
      <p><b>Email:</b> {{user.Email}}</p>
      <p><b>Birthday:</b> {{user.Birthday | date }}</p>
    </mat-card-content>

    <!-- Edit and delete profile -->
    <mat-card-actions class="user-profile-actions">

      <button mat-raised-button (click)="openEditProfileDialog()" color="primary">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-raised-button (click)="deleteUserProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>

    </mat-card-actions>

  </mat-card>

  <!-- Display favourite movies -->
</div>